<h2 class="text-center">Countries</h2>
<hr class="text-white" />

<ul class="list-group text-center">
  <!-- <li routerLinkActive="active" routerLink="home" class="list-group-item">
    Home Page
  </li>
  <li routerLinkActive="active" routerLink="about" class="list-group-item">
    About us
  </li>
  <li routerLinkActive="active" routerLink="contact" class="list-group-item">
    Contact
  </li> -->

  <li
    routerLinkActive="active"
    routerLink="countries/by-capital"
    class="list-group-item"
  >
    By Capital
  </li>
  <li
    routerLinkActive="active"
    routerLink="countries/by-country"
    class="list-group-item"
  >
    By Country
  </li>
  <li
    routerLinkActive="active"
    routerLink="countries/by-region"
    class="list-group-item"
  >
    By Region
  </li>
</ul>
