<h2>By Region</h2>
<hr />

<div class="row">
  <div class="col">
    <button
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      class="btn btn-outline-primary mx-2"
      [ngClass]="{ active: selectedRegion === region }"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row mt-4">
  <div class="col" *ngIf="countriesByRegion.length === 0; else showResults">
    <p class="alert alert-warning">No results to show.</p>
  </div>
  <ng-template #showResults>
    <countries-table [countries]="countriesByRegion"></countries-table>
  </ng-template>
</div>
